---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <div class="mx-auto max-w-7xl mt-24">

        <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
            <div class="lg:pl-20">
                <div class="max-w-xs px-2.5 lg:max-w-none">
                    <img
                            src={'/'}
                            alt=""
                            sizes="(min-width: 1024px) 32rem, 20rem"
                            class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800"
                    />
                </div>
            </div>
            <div class="lg:order-first lg:row-span-2">
                <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
                    Freelance IT-specialist en Ontwikkelaar
                </h1>
                <div class="mt-6 space-y-7 text-base text-zinc-600 dark:text-zinc-400">
                    <p>
                        Al van jongs af aan ben ik gefascineerd door technologie. Ik schreef mijn eerste regels code toen ik 8 jaar oud was, op de oude computer die mijn ouders in huis hadden gehaald. Sindsdien ben ik voortdurend bezig geweest met het bouwen van nieuwe dingen.
                    </p>
                    <p>
                        Naast mijn liefde voor computers had ik als kind een grote interesse in het verkennen van het onbekende, met name de ruimte. De gedachte om ooit mijn eigen ruimteschip te bouwen en nieuwe werelden te ontdekken, heeft me altijd geïnspireerd.
                    </p>
                    <p>
                        Door de jaren heen heb ik mezelf uitgedaagd met diverse projecten, van het ontwikkelen van complexe applicaties tot het ontwerpen van gebruiksvriendelijke websites. Ik streef ernaar om digitale producten te maken die echt impact hebben.
                    </p>
                    <p>
                        Vandaag de dag help ik als freelance IT-specialist bedrijven en individuen hun ideeën om te zetten in werkelijkheid. Of het nu gaat om maatwerksoftware of een prachtige website, ik sta klaar om de visie van mijn klanten tot leven te brengen.
                    </p>
                </div>
            </div>

            <div class="lg:pl-20">
                <ul role="list">
                </ul>
            </div>
        </div>
    </div>
</Layout>
